<div class="container">
    <div class="row row-cols-auto">
        <div class="col">
            <div class="card" style="max-width: 12.5rem">
                <h5 class="card-title fw-bold mx-auto">
                    {{ city }}
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">OpenWeather: {{ temp }}</li>
                    <li class="list-group-item">Feels Like: {{ realFeal }}</li>                    
                    <li class="list-group-item"><a href="{{ weatherGovURL }}" target="_blank">weather.gov</a>: {{ currentGovWeather }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>